<!--  <div id="login-content">-->

<!--  </div>-->
<!-- <div class="content2">
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="Tlogo" src="./assets/images/shooting.svg">
        <span class="title">CodeShooting</span>
      </div>
        <div class="desc">让打靶更美好 </div>
    </div>
    <div style="text-align: center;" *ngIf="!isHavePrivilege">
      <span style="color: red">{{'登录失败，当前用户无权限！'}}</span>
    </div>
    <div class="container">
      <div class="login-right-title"> <span>{{'请使用安全令牌扫码登录'}}</span></div>
      <div class="qrcode">
        <ngx-qrcode
          [elementType]="elementType"
          [errorCorrectionLevel]="correctionLevel"
          [value]="qrcode"
          cssClass="bshadow">
        </ngx-qrcode>
        <img class="index" src="../../assets/images/index.png">
      </div>
    </div>
    <div class="footer">Copyright
      <i class="anticon anticon-copyright"></i>2022 虚拟化中心
    </div>
  </div>
</div> -->
