.plx-type {
  overflow: auto;
  position: relative;
}

.type-wrapper {
  position: absolute;
  float: left;
  height: 40px;
  padding-left: 65px;
  font-size: 12px;
}

.type-name {
  font-size: 14px;
  height: 20px;
}

.type-desc {
  font-size: 12px;
  color: #999;
  height: 20px;
}

.type-icon {
  float: left;
  width: 40px;
  height: 40px;
  background: #95D3E2;
  color: #fff;
  border-radius: 3px;
  text-align: center;
}
