.grade-board{
  margin-top: 12px;
  width: 400px;
  height: auto;
  overflow: hidden;
  padding: 12px 21px 16px;
  justify-content: center;
  background: white;
}

.grade-board-title {
  font-weight:700;
  font-size:20px;
}

.grade-board-img{
  vertical-align: bottom;
  margin-right: 10px;
}
.grade-board-num{
  font-weight:600;
  font-size:40px;
  line-height: 1;
  vertical-align: bottom;

}

.grade-board-score{
  color: #999;
  font-weight:600;
  font-size:25px;
  line-height: 1;
  margin-right: 10px;
  vertical-align: bottom;
}

.grade-board-chinese{
  color: #999;
  font-size:15px;
  vertical-align: bottom;
}
