.upload-form-config {
    display: flex;
    font-size: 12px;
    margin-bottom: 8px;
}
.config-required {
    color: #e43232;
    padding-right: 4px;
}
.upload-form-config label {
    width: 120px;
    margin: 0 15px 0 0;
    text-align: right;
    line-height: 32px;
}
.upload-form-config-select-language {
    width: 150px;
}