.shoot-range-card{
  width: 49%;
  height: 170px;
  border: 1px solid #e8e8e8;
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
  display:inline;
}


.topDiv {
  height: 180px;
}
.bottomDiv {
}
